[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
certifi = "==2019.11.28"
pipenv = "==2018.11.26"
virtualenv = "==16.7.9"
virtualenv-clone = "==0.5.3"
django = "*"
django-environ = "*"
psycopg2-binary = "*"
pycodestyle = "==2.5.0"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework = "*"
django-filter = "*"
requests = "*"
boto3 = "*"
django-import-export = "*"
pandas = "*"
django-extensions = "*"
six = "*"
django-storages = "*"
python-magic = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
